@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  :focus-visible {
    outline: 3px solid #fe9c01;
    outline-offset: 2px;
  }
}
